:host {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    .quiz-header {
        width: 100%;
        height: 40px;
        display: flex;
        background-color: lightblue;
    }
    .quiz-window {
        width: 100%;
        height: 560px;
        display: flex;
    }
}