<div class="quiz-header">
    <button class="close" (click)="closeDialog()"></button>
</div>
<div class="quiz-window">
    <div class="quiz-item">
        <div class="question-window">
            <p>Koja rijeka tece tuda?</p>
        </div>
        <div class="question-answers">
            <div class="question-answer">
                <p class="answer-letter">a</p>
                <p class="answer-text">Miljacka</p>
            </div>
            <div class="question-answer">
                <p class="answer-letter">a</p>
                <p class="answer-text">Miljacka</p>
            </div>
            <div class="question-answer">
                <p class="answer-letter">a</p>
                <p class="answer-text">Miljacka</p>
            </div>
            <div class="question-answer">
                <p class="answer-letter">a</p>
                <p class="answer-text">Miljacka</p>
            </div>
        </div>
    </div>
</div>
<button class="next">Next</button>
