<div class="courses-header">
    <p>32 Courses</p>
    <button class="join">
        <p>Join course</p>
    </button>
</div>
<div class="courses-grid">
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Vjestacka inteligencija'" [courseAuthor]="'Amila Akagic'" routerLink="course"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    <app-student-course-card [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg'" [courseName]="'Logicki Dizajn'" [courseAuthor]="'Novica Nosovic'"></app-student-course-card>
    

    
</div>