<div class="courses-header">
    <p>32 Courses</p>
    <button class="join">
        <p>Join course</p>
    </button>
</div>
<div class="courses-grid">
    <app-student-course-card routerLink="course"></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>
    <app-student-course-card></app-student-course-card>

    
</div>