<div class="flashcards-header">
    <!--<button class="close" (click)="closeDialog()"></button>-->
</div>
<div class="flashcards-window">
    <div class="flashcard-heading">
        <button class="reset">
            <p>Reset</p>
        </button>
        <div class="counter-div">
            <p class="card-txt">Card </p>
            <p class="current">{{current}}</p>
            
        </div>
    </div>
    <app-flashcard [question]="flashcardList.unlearnedFlashcards[current -1].question" [answer]="flashcardList.unlearnedFlashcards[current - 1].answer"></app-flashcard>
    <div class="flashcard-nav">
        <button (click)="clickFunction()" class="incorrect">
            <p>Incorrect</p>
        </button>
        <button (click)="clickFunction()" class="correct">
            <p>Correct</p>
        </button>
    </div>
</div>
