<div class="courses-nav"></div>
<div class="courses-grid">
    <app-teacher-course-card></app-teacher-course-card>
    <app-teacher-course-card></app-teacher-course-card>
    <app-teacher-course-card></app-teacher-course-card>
    <app-teacher-course-card></app-teacher-course-card>
    <app-teacher-course-card></app-teacher-course-card>
    <app-teacher-course-card></app-teacher-course-card>
    <app-teacher-course-card></app-teacher-course-card>
    <app-teacher-course-card></app-teacher-course-card>

</div>