:host {
    width: calc(100vw - 220px);
    min-height: calc(100vh - 60px);
    background-color: rgb(176, 200, 119);
    display: flex;
    
    margin-left: 220px;
    margin-top: 60px;
    .lecture-window {
        width: calc(100% - 320px);
        height: 100vh;
        //display: flex;
        //background-color: rgb(22, 13, 84);
    }
    .lecture-menu {
        width: 320px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(189, 245, 208);
        //margin-left: calc(100% - 520px);
        //--position: fixed;
        border-left: 1px solid grey;
        .buttons {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            margin-left: 35px;
            button {
                width: 230px;
                height: 50px;
                border-radius: 12px;
                margin-bottom: 10px;
                border: 1px solid grey;
                background-color: lightgreen;
                display: flex;
                align-items: center;
                svg {
                    width: 25px;
                    height: 25px;
                    margin-left: 20px;
                }
                p {
                    margin-left: 20px;
                    font-size: 17px;
                }
                cursor: pointer;
            }
        }
    }
}