<div class="login-box">
    <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex. User" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>

      
        <select   [(ngModel)]="selectedRole">
            <option value="1" >Select role</option>
            <option value="student" selected>Student</option>
            <option value="teacher">Teacher</option>
            
          </select>
      
    <button class="login-submit" (click)="login()">Login</button>
</div>
